*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    min-height: 100vh;
    
}

.img-cellphone{
    display: flex;
    height: 100vh;
    width: 50%;
    justify-content: center;
    align-items: center;
    
}
.login-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    justify-content: center;
    
    
}
.img-cellphone img{
    width: 300px;

   
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 1.3rem;
    margin: 5px;
    border: 1px solid lightgray;
  
     
}

.flex-container:nth-child(1) {
    min-height: 19rem;
}

.login{
    background-color: #0095f6;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

.remove{
    text-decoration: none;
    color: #0095f6;

}

.perfil{
    height: 100px;
    border-radius: 50%;
}

.inscreva-se p{
    color: rgb(175, 171, 171)
}

.inscreva-se a{
    text-decoration: none;
    color: #0095f6;
}
.app-down{
    background: none;
    border: none;
}

.butons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
     
    
}

.appstore{
    margin: 1rem;
    display: flex;
    justify-content: center;
    min-height: 0vh;
}

.appstore img{
    height: 40px;
    margin: 0 1rem;
}

@media(max-width: 1024px){
    .main-container{
        width: 90%
    }
}

@media(max-width: 680px){
    body{
        background: white;
    }

    .flex-container{
        border: none;
    }
    .img-cellphone{
        display: none;
    }

    .main-container{
        width: 90%;
    }

    .login-container{
        width:100%
    }
}
